<!DOCTYPE html>
<html>
  <head>
    <title>Air Hockey</title>
    <link rel='stylesheet' href='/css/app.css' />
  </head>
  <body>
    <section class='navbar-section'></section>
    <section class='portfolio-section'></section>
    <section class='about-section'></section>
    <section class='contact-section'></section>
    <script src='/js/app.js'></script>
  </body>
</html>
