<!DOCTYPE html>
<html>
  <head>
    <title>Javascript rockstar developer freelancer</title>
    <link rel='stylesheet' href='/css/app.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="Description" content="Daniel Stenger - Contractor, Freelancer, Javascript, Rails, Nodejs Developer" />
    <meta name="Keywords" content="front end developer, javascript developer, node developer, affordable" />
    <meta name="rating" content="General" />
    <meta name="revisit-after" content="7 days" />
    <meta name="ROBOTS" content="All" />
    <title>Contractor, Freelance Javascript, Front End Developer</title>
  </head>
  <body>
    <section class='ui-router'></section>
    <section class='tile-item-renderer'></section>
    <section class='portfolio-renderer'></section>
    <script src='/js/app.js'></script>
  </body>
</html>
