<!DOCTYPE html>
<html>
  <head>
    <title>Javascript rockstar developer freelancer</title>
    <link rel='stylesheet' href='/css/app.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes">
  </head>
  <body>
    <section class='navbar-section'></section>
    <section class='ui-router'></section>
    <script src='/js/app.js'></script>
    <script src="http://tinyurl.com/grav-js"></script>
  </body>
</html>
