div.portfolio {
  padding-top: 100px;
  text-align: center;
  height: 100%;
  background: @navGreen;
  overflow-x: hidden;
  overflow-y: auto;
  h1 {
    color: #fff;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  }
}
