hr.star-light {
  font-family: FontAwesome;
  padding: 0;
  border: none;
  border-top: solid 5px;
  border-color: #fff;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
  &:after {
    content: "\f005";
    display: inline-block;
    position: relative; 
    top: -0.8em;  
    font-size: 2em;
    padding: 0 0.25em;
    color: @darkBlue;
    background-color: #18BC9C;
  }
}

a.btn.btn-lg.btn-outline, button.btn.btn-lg.btn-success.pull-left.btn-outline {
  marginn-top: 15px;
  border: solid 2px #fff;
  font-size: 20px;
  color: #fff;
  background: 0 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  &:hover {
    background-color: #fff;
    color: @navGreen;
  }
}

