<h3>Portfolio forma!</h3>

<% if (email_data.name) { %>
  <strong>Vardas:</strong> <%= email_data.name %><br />
<% } %>

<% if (email_data.email) { %>
  <strong>El. pašto adresas:</strong> <%= email_data.email %><br />
<% } %>

<% if (email_data.message) { %>
  <strong>Pranešimas:</strong> <%= email_data.message %><br />
<% } %>
