div.skills-p { 
  padding-top: 100px;
  text-align: center;
  background: @navGreen;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transition-duration: 0.3s;
  &.fade-out {
    -webkit-transform: scale(0);
    transform: scale(0);  
    opacity: 0;
  }
}
