div.experience-p { 
	position: absolute;
  height: 100%;
	width: 100%;
  padding-top: 20px;
  text-align: center;
  background: darken(#ff8a80, 10%)!important;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  overflow-x: hidden;
  overflow-y: auto;
  transition-duration: 0.3s;
  font-family: 'Ubuntu Condensed', sans-serif;
  hr.star-light:after { background-color: darken(#ff8a80, 10%); }
  h1 { font-size: 40px; }
  div.experience-content {
    padding: 20px 30px;
    text-align: left;
    blockquote {
      margin-bottom: 50px;
      border-color: #fff;
      a {
        text-decoration: underline;
        text-shadow: none;
        color: @darkBlue;
      }
      footer {
        text-shadow: none;
        color: @darkBlue;;
      }
    }
  }
}
