div.experience-p { 
  height: 100%;
  padding-top: 40px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  overflow-x: hidden;
  overflow-y: auto;
  transition-duration: 0.3s;
  h1, h3 {
    font-family: 'Ubuntu Condensed', sans-serif;
  }
  h1 {
    font-size: 40px;
  }
  div.experience-content {
    padding: 20px 30px;
    text-align: left;
    blockquote {
      margin-bottom: 50px;
      border-color: #fff;
      a {
        text-decoration: underline;
        text-shadow: none;
        color: @darkBlue;
      }
      footer {
        text-shadow: none;
        color: @darkBlue;;
      }
    }
  }
}
