div.about { 
  padding-top: 100px;
  text-align: center;
  h1 {
    color: @darkBlue;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  }
  hr.star-light {
    border-color: @darkBlue;
    &:after {
      color: @darkBlue;
      background-color: #fff;
    }
  }
}
